In [5]:
t=(1,2,3)
#convert tuple to list, make change then store it back in tuple. since tuple are immutable.
l=list(t)
l[0]=12
print(l)
t=tuple(l)
print(t)

[12, 2, 3]
(12, 2, 3)

In [8]:
t.sort()  #tuple can't be sorted
t

AttributeError: 'tuple' object has no attribute 'sort'

In [9]:
#dictionary
d1={1:'red',2:'Yellow', 3:'Blue'}
d1

{1: 'red', 2: 'Yellow', 3: 'Blue'}

In [12]:
d=dict({('one',1),('two',2),('three',3)})
d

{'two': 2, 'one': 1, 'three': 3}

In [13]:
d.pop('one')
d

{'two': 2, 'three': 3}

In [14]:
#without parameter, it removes last inserted item
d.popitem()

('three', 3)

In [17]:
d3=dict({('one',1),('two',2),('three',3)})
d3

{'two': 2, 'one': 1, 'three': 3}

In [19]:
d4={}
x=[1,2,3,4]
d4.fromkeys(x,(1,2,3,4))
d4

{}

In [22]:
fruits={1:"apple",2:"Mango"}
fruits

{1: 'apple', 2: 'Mango'}

In [24]:
for i in fruits:
    print(fruits[i])

apple
Mango

In [25]:
fruits[3]="Banana"
fruits

{1: 'apple', 2: 'Mango', 3: 'Banana'}

In [26]:
4 in fruits

False

In [27]:
3 in fruits

True

In [28]:
for i,j in fruits.items():
    print(i,j)

1 apple
2 Mango
3 Banana

In [29]:
x=(1,2,3,4)
y=10
d=dict.fromkeys(x,y)
d

{1: 10, 2: 10, 3: 10, 4: 10}

In [30]:
x=(1,2,3,4)
y=10,11,12
d=dict.fromkeys(x,y)
d

{1: (10, 11, 12), 2: (10, 11, 12), 3: (10, 11, 12), 4: (10, 11, 12)}

In [31]:
#sets
s={1,2,34,2,4,6,7,54,34}
s

{1, 2, 4, 6, 7, 34, 54}

In [32]:
st="hello"
t=""
for i in st:
    if i not in t:
        t=t+i
t

'helo'

In [40]:
s1= set((("c", "c++"),("Java", "OOPs")))
print(s1)
len(s1)

{('Java', 'OOPs'), ('c', 'c++')}

2

In [38]:
#more than one list can't be element of set , therefore error. set takes 
s2= set((["c", "c++"],["Java", "OOPs"]))
print(s2)

TypeError: unhashable type: 'list'

In [35]:
#single list. set accepts only one parameter
#set is mutable. elements of set is immutable
s3= set([1,2,3,4])
s3

{1, 2, 3, 4}

In [44]:
s.add(102)  
s

{1, 2, 4, 6, 7, 34, 54, 102}

In [45]:
s.update([98,34,22])
s

{1, 2, 4, 6, 7, 22, 34, 54, 98, 102}

In [46]:
s.pop()
s

{2, 4, 6, 7, 22, 34, 54, 98, 102}