In [5]:
s="how are you. good morning"
print(s.capitalize())
print(s)

How are you. good morning
how are you. good morning

In [6]:
s.lower()

'how are you. good morning'

In [7]:
s1="hi HOW ARE YOU"
print(s1.lower())
print(s1.swapcase())

hi how are you
HI how are you

In [9]:
print(s1.title())
#turns first wordof each character capital

Hi How Are You

In [10]:
s2="HELLO"
s2.isupper()

True

In [11]:
s2.islower()

False

In [14]:
s2.istitle()

False

In [13]:
s3="Hey How Are You"
s3.istitle()

True

In [15]:
s4="123hi"
s4.isalnum()

True

In [16]:
s3.split()

['Hey', 'How', 'Are', 'You']

In [21]:
s5="Hey,how,are,you, sam smith"
s5.split(",")

['Hey', 'how', 'are', 'you', ' sam smith']

In [24]:
a,b,c,d=input().split(" ")
print(a)
print(b)
print(c)
print(d)

hello how are u
hello
how
are
u

In [27]:
#center
s="hello"
s.center(23,'*')

'*********hello*********'

In [32]:
s="hello,how are you"
s.count('h')

2

In [33]:
b='_'
b.join(s)

'h_e_l_l_o_,_h_o_w_ _a_r_e_ _y_o_u'

In [34]:
s.isspace()

False

In [35]:
s.startswith('h')

True

In [36]:
s="There is a cow in the ground"
s.count('the')

1

In [37]:
l=[1,3,24,5,67,85,32,62]
#[start:stop:steps]
l[1:4:1]

[3, 24, 5]

In [40]:
l[-1:-6:-1]

[62, 32, 85, 67, 5]

In [39]:
l[::-1]

[62, 32, 85, 67, 5, 24, 3, 1]

In [41]:
del l[0]
print(l)

[3, 24, 5, 67, 85, 32, 62]

In [43]:
m=[1,2,4]
m*2

[1, 2, 4, 1, 2, 4]

In [44]:
l+m

[3, 24, 5, 67, 85, 32, 62, 1, 2, 4]

In [45]:
len(l+m)

10

In [46]:
n=[1,2,3,[4,3,2],2]
len(n)

5

In [50]:
l1=[1,2,3,4]
l2=[2,3,2]  #duplicates remain. (oly sets remove duplicates element)
l1.extend(l2)
l1

[1, 2, 3, 4, 2, 3, 2]

In [51]:
l3=l1
l3

[1, 2, 3, 4, 2, 3, 2]

In [52]:
l1 is l3

True

In [61]:
#cloning, creat another list using a list
l1=[1,2,3,4]
b=l1[:]
b

[1, 2, 3, 4]

In [62]:
b[0]=2122
print(b)
print(l1)

[2122, 2, 3, 4]
[1, 2, 3, 4]

In [63]:
b=list(l1)
b

[1, 2, 3, 4]

In [64]:
b=l1.copy()

In [60]:
b

[1, 2, 3, 4]

In [66]:
del l1[0]

In [67]:
l1

[2, 3, 4]

In [68]:
l=[1,24,2,4,2,5,53,242]
l.remove(24)
print(l)

[1, 2, 4, 2, 5, 53, 242]

In [69]:
l.pop()

242

In [70]:
print(l)
l.remove(2) #removes only 1st occurance of number 2
print(l)

[1, 2, 4, 2, 5, 53]
[1, 4, 2, 5, 53]

In [71]:
l.pop(2) #pops element at index 2

2

In [72]:
l

[1, 4, 5, 53]

In [73]:
l.clear() #clears list of l
l

[]

In [74]:
del(l) #deleted the list l

In [75]:
l

NameError: name 'l' is not defined

In [76]:
l=[1,3,4,5,3,2,4,5]
all(l)

True

In [77]:
print(max(l))
print(min(l))

5
1

In [78]:
l=[]
list(enumerate("hello"))

[(0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [79]:
l=[1,2,3,4,5,6]
sorted(l,reverse=True)

[6, 5, 4, 3, 2, 1]

In [80]:
l.insert(2, "Blah")

In [81]:
l

[1, 2, 'Blah', 3, 4, 5, 6]

In [83]:
l.count("Blah")

1

In [88]:

l.sort(key=None,reverse=True)
l

[6, 5, 4, 3, 2, 1]

In [89]:
l.index(5)

1

In [98]:
import random
b=[]
for i in range(1,100):
    a=random.randint(1,100)
    b.append(a)
print(b,end=' ')

[84, 60, 6, 3, 52, 70, 36, 40, 37, 31, 44, 44, 16, 100, 49, 21, 31, 100, 49, 69, 72, 33, 11, 63, 59, 18, 33, 63, 39, 87, 33, 21, 9, 31, 94, 14, 9, 47, 96, 79, 42, 61, 27, 90, 58, 40, 12, 74, 13, 19, 98, 64, 92, 88, 74, 48, 23, 13, 74, 68, 95, 71, 60, 50, 3, 50, 91, 22, 37, 34, 23, 77, 91, 30, 81, 32, 10, 11, 28, 45, 81, 23, 99, 60, 85, 25, 56, 69, 76, 75, 49, 100, 61, 13, 95, 12, 9, 3, 98]

In [100]:
d=[]
for i in range(len(b)):
    c=random.choice(b)
    d.append(c)
print(d, end=' ')

[37, 91, 31, 33, 37, 31, 58, 3, 21, 16, 44, 11, 31, 56, 40, 25, 91, 74, 13, 81, 18, 30, 52, 33, 100, 95, 79, 12, 60, 85, 27, 37, 47, 79, 22, 95, 69, 79, 40, 3, 61, 52, 31, 37, 85, 75, 99, 12, 81, 88, 37, 79, 22, 98, 81, 19, 31, 69, 100, 76, 13, 100, 84, 96, 96, 3, 52, 21, 99, 25, 49, 21, 3, 69, 95, 9, 27, 99, 36, 42, 3, 98, 50, 60, 21, 98, 13, 9, 64, 32, 19, 48, 21, 77, 87, 50, 44, 9, 42]